---
layout: default
---

<h1 align="center"> Lithics from the Knapper’s-Eye View</h1>

The best way to learn flintknapping is to do it. The second best way is to see it in action from the knapper's perspective. This website is designed to introduce students to stone tools and provide a sense of the knapper’s perspective and decision-making process. Photos and short videos show basic knapping techniques, including hard hammer percussion, soft hammer percussion, and pressure flaking. Through these examples, students learn how to identify the processes that produced the lithic artifacts in the archaeological record. Go to the Resources page to find out more about how you can learn to flintknap.
