---
layout: default
---

<h1>Learning Flintknapping</h1>

Learning to make stone tools takes practice and patience. Skilled flintknappers make it look easy, so don't be discouraged when you can't make a projectile point on your first try. You will likely gain a great appreciation for what our ancestors accomplished with stone tool technology.

<h2>Safety First</h2>

Be forewarned: Flintknapping extracts a sacrifice of blood. At the same time, you can reduce your blood tribute with some basic precautions:
- Wear long pants and closed-toed shoes. You don't want sharp objects getting into your shoes.
- Protect your eyes with safety glasses.
- Wear leather gloves.
